@font-face {
    font-family: 'Poppins Regular';
    src: url(../fonts/poppins/Poppins-Regular.ttf);
    }
@font-face {
    font-family: 'Poppins Medium';
    src: url(../fonts/poppins/Poppins-Medium.ttf);
    }  
body{
    font-family: 'Poppins Regular';
}  
/*--------------------  Utilidades ------------------*/
.container{
    width: 95%;
}
@media only screen and (min-width: 601px){
    .container{
        width: 90%;
    }
}
.input-field .prefix {
    right: 0rem;
}
.ftf-medium{
    font-family: 'Poppins Medium';
}
.margin-0{
    margin: 0;
}
.margin-10{
    margin: 40px auto;
}
.padd-10{
    padding: 10px;
}

/*--------------------  Navegacion ------------------*/
.nav-primario{
    background-color: #2a2a2a ;
}
.nav-secundario{
    background-color: #fff ;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul a{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    flex-grow: 1;
}
.texto-nav-secundario{
    color: #FF4A4A;
}
.input-field input[type=search]{
    display: inline;
    color: white;
}

/*--------------------  Slider ------------------*/
.img-center{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
/*--------------------  Mapa ------------------*/
.mapa{
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
    height: 500px;
}

/*--------------------  Nuestro secreto ------------------*/
.fondo-rojo{
    background-color: #FF4A4A;
    padding: 1.5rem 0;
}
.parrafo{
    margin-top: 40px;
    line-height: 2;
    font-size: 16px;
}
/*--------------------  Nuestros proyectos ------------------*/
.swiper-pagination{
    position: static;
    margin: 20px 0;
    color: yellow;
}
:root{
    --swiper-navigation-size: 28px;
    --swiper-theme-color: #F0C227;
}
.swiper-button-prev, .swiper-button-next{
    top: auto;
    bottom: 20px;
}
.swiper-button-next{
    right: 400px;
}
.swiper-button-prev{
    left: 400px;
}
@media only screen and (min-width: 320px) {
    .swiper-button-prev{
        left: 60px;
    }
    .swiper-button-next{
        right: 60px;
    }
}
@media only screen and (min-width: 768px) {
    .swiper-button-prev{
        left: 160px;
    }
    .swiper-button-next{
        right: 160px;
    }
}
@media only screen and (min-width: 1024px) {
    .swiper-button-prev{
        left: 360px;
    }
    .swiper-button-next{
        right: 360px;
    }
}
/*--------------------  Footer ------------------*/
.page-footer{
    background-color: #FF4A4A;
}
.flex{
    display: flex;
    justify-content: center;
}
.margin-5{
    margin: 10px;
}
/*-------------------- Modal Clientes ------------------*/
.cabecera{
    background-color: #FF4A4A;
    color: white;
}
.modal-cliente{
    width: 80%;
}

/*-------------------- Página Menú ------------------*/
.fondo-negro{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(48, 48, 48, 0.6);
    border-radius: 10px 10px 0 0;
    justify-content: center;
}

.card .card-image .card-title {
    display: block;
    
    word-break: break-word;
}
.static{
    position: static;
}
.fondo{
    border: 0.1em solid #303030; 
    width: 100%; 
    text-align: center; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em; 
    background-color: #303030; 
    
}