header.h-normal,
main.m-normal,
footer,
.content {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {

    header.h-normal,
    main.m-normal,
    footer,
    .content {
        padding-left: 0;
    }
}

.rose-m {
    background-color: #e91e63;
}

.cuzcatlan-color {
    background-color: #e91e63;
}

.card {
    border-radius: 20px;
}

.img-center {
    display: block;
    margin: 25px auto;
}

.padd-15 {
    padding: 15px;
}

.m-15 {
    margin: 35px 0 0;
}

.m-0 {
    margin: 0;
}

body {
    background-color: #fcfafa;
    font-family: 'Poppins', sans-serif;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box>.inner {
    padding: 10px;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    color: #fff;
}

.small-box p {
    color: #fff;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.chart-container {
    width: 600px;
    height: 400px;
}