.sidebar-fixed {
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0; }
  .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem; }
    .sidebar-fixed .logo-wrapper img {
      max-height: 50px; }

@media (min-width: 1200px) {
  .navbar,
  .page-footer,
  main {
    padding-left: 270px; } }

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; } }

    .map-container-5{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      }
      .map-container-5 iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
      }

.fondo{
  background-color:#393939;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: rgb(255, 53, 71);
  border-color: rgb(255, 53, 71);
}

.sidebar-fixed {
    height: 100vh;
    width: 250px;
}