<!doctype html>
<html lang="es">
<head>
    <!-- Se especifica la codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Se indica al navegador que la página web está optimizada para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título del documento -->
    <title>The Coffee Cup</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/resources/css/contacto.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>
    <!-- Encabezado del documento -->
    <header>

       <!-- Navbar principal -->
      
       <nav>
        <div class="nav-principal nav-wrapper">
          <img class="brand-logo right" src="/resources/img/dashboard/Logo_TCC.png">
          <a href="" class="hide-on-large-only"><i class="material-icons sidenav-trigger" data-target="slide-out">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="sass.html">Inicio</a></li>
            <li><a href="badges.html">Sucursales</a></li>
            <li><a href="collapsible.html">Menú</a></li>
          </ul>
        </div>
      </nav>

      <ul id="slide-out" class="sidenav">
        <li><a class="waves-effect slideout" href="#!">Inicio</a></li>
        <li><a class="waves-effect slideout" href="#!">Sucursales</a></li>
        <li><a class="waves-effect slideout" href="#!">Menú</a></li>
      </ul>
      
      <!-- Nav secundaria -->

      <nav class="white hide-on-large-only">
        <div class="container">
        <div class="nav-secundaria nav-wrapper">
          <ul id="nav-mobile">
            <li><a href="sass.html"><i class="material-icons left">group</i></a></li>
            <li><a href="badges.html"><i class="material-icons left">location_city</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons left">menu_book</i></a></li>
          </ul>
        </div>
        </div>  
      </nav>

      <nav class="white hide-on-med-and-down">
        <div class="container">
        <div class="nav-secundaria nav-wrapper">
          <ul id="nav-mobile">
            <li><a href="sass.html"><i class="material-icons left">group</i>Registrate como cliente</a></li>
            <li><a href="badges.html"><i class="material-icons left">location_city</i>Buscar sucursal más cercana</a></li>
            <li><a href="collapsible.html"><i class="material-icons left">menu_book</i>Noticias y promociones</a></li>
          </ul>
        </div>
        </div>
      </nav>
      
      <!-- Tercer navbar -->
      <nav class="tercer hide-on-med-and-down">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Contáctanos</a>
        </div>
      </nav>

      <nav class="tercer hide-on-large-only">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center"><h6>Contáctanos</h6></a>
        </div>
      </nav>

    </header>
    <!-- Contenido principal del documento -->
    <main>
        
      <ul id="tabs-swipe-demo" class="tabs center">
        <li class="tab col s3"><a href="#test-swipe-1">Ayúdanos a mejorar</a></li>
        <li class="tab col s3"><a href="#test-swipe-2">Adquiere un franquicia</a></li>
        <li class="tab col s3"><a href="#test-swipe-3">Otros servicios</a></li>
      </ul>
      
      <!-- Primera parte (Ayudanós a mejorar) -->
      <div id="test-swipe-1">
        <div class="row">

          <div class="col s6 contacto">
            <img src="/resources/img/commerce/imagen.png" class="responsive-img contacto right">
          </div>

          <div class="col s6 inputs">
              <div class="input-field col s7">
                <input placeholder="kamaltik@mail.com" id="first_name" type="text" class="validate">
                <label for="first_name">Correo electronico</label>
              </div>
              <div class="input-field col s7">
                <select>
                  <option value="" disabled selected>Motivo...</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>Seelcciona el motivo de contacto</label>
              </div>
              <div class="input-field col s7">
                <input id="input_text" placeholder="Escribe tu mensaje aquí" type="text" data-length="10">
                <label for="input_text">Mesaje</label>
                <a class="waves-effect waves-light btn"><i class="material-icons right">play_arrow</i>Enviar mensaje</a>
              </div>   
          </div>
        </div>
      </div>

      <!-- Adquiere una franquicia -->
      <div id="test-swipe-2" class="col s12 franquicia">
        <div class="row">

          <div class="col s6 franquicia">
            <img src="/resources/img/commerce/franquicia.jpg" class="responsive-img right franquicia">
          </div>

          <div class="col s6">
            <div class="card franquicia">
              <div class="card-content">
                <span class="card-title franquicia">Emprende una franquicia</span>
                <p>Una forma de iniciar tu emprendimiento es a través de una franquicia The Coffee Cup. Una franquicia es un modelo de negocio de éxito. Con el sistema de franquicia se cuenta con asesoramiento desde el primer día, una capacitación integral de 3 meses, donde se le enseña la operación y se le brinda un apoyo completo durante y después de la apertura. Entrenamos a todo el equipo de franquicias, baristas, junior, supervisores y encargas de tiendas, garantizando que los productos y el servicio sean estandarizado en todos los The Coffee Cup de la región.Emprendedor si deseas obtener más detalles sobre las franquicias The Coffee Cup, te invitamos a solicitar más información a: thecoffeecup@qualitygrains.com.sv</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Otros servicios -->
      <div id="test-swipe-3" class="col s12">
        <div id="test-swipe-2" class="col s12 OS">
          <div class="row">
  
            <div class="col s6 OS">
              <img src="/resources/img/commerce/boda.jpg" class="responsive-img right OS">
            </div>
  
            <div class="col s6">
              <div class="card OS">
                <div class="card-content">
                  <span class="card-title OS">Una experiencia inolvidable</span>
                  <p>Un evento inolvidable merece el mejor sabor 100% salvadoreño. The Coffee Cup, te invitamos a solicitar más información a: thecoffeecup@qualitygrains.com.sv</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </main>
    <!-- Pie del documento -->

    <footer class="page-footer">
      <div class="container">
          <div class="row">
              <div class="col s12 m4 center">
                  <h5 class="white-text">Dirección principal</h5>
                  <i class="material-icons small">directions_car</i>
                  <p>Km 13 1/2, Autopista <br> Comalapa, San Marcos</p>
              </div>
              <div class="col s12 m4 center">
                  <h5 class="white-text">Contáctanos</h5>
                  <div class="flex">
                      <i class="material-icons small margin-5">phone</i>
                      <p class="margin-5">+503 2507-1300</p>
                  </div>
                  <div class="flex">
                      <i class="material-icons small margin-5">email</i>
                      <p class="margin-5">info@qualitygrains.com.sv</p>
                  </div>
              </div>
              <div class="col s12 m4 center">
                  <h5 class="white-text">Redes Sociales</h5>
                  <a href="https://www.facebook.com/thecoffeecupsv/"><img class="margin-5" src="../../resources/img/commerce/facebook.png" alt=""></a>
                  <a href="https://twitter.com/thecoffeecup_sv/"><img class="margin-5" src="../../resources/img/commerce/twitter.png" alt=""></a>
                  <a href="https://www.instagram.com/thecoffeecup_sv/"><img class="margin-5" src="../../resources/img/commerce/instagram.png" alt=""></a>
                  <p>The Coffee Cup Sv</p>
              </div>
          </div>
      </div>
      <div class="footer-copyright sub">
          <div class="container">
          © 2020 Derechos reservados por The Coffee Cup
          <a class="grey-text text-lighten-4 right" href="#!">Términos y condiciones</a>
          </div>
      </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Inicializadores -->
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.tabs').tabs();
        $('select').formSelect();
        $('input#input_text, textarea#textarea2').characterCounter();
      });
    </script>
</body>

</html>