<!DOCTYPE html>
    <html lang="es">
    <head>
        <!-- Se especifica la codificación de caracteres para el documento -->
        <meta charset="utf-8">
        <!-- Se indica al navegador que la página web está optimizada para dispositivos móviles -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Título del documento -->
        <title>Kamiltik | </title>
        <!-- Importación de archivos CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../resources/css/swiper.css">
        <link rel="stylesheet" href="../../resources/css/materialize.css">
        <link rel="stylesheet" href="../../resources/css/commerce.css">
        <!-- Llamada a un archivo tipo icono -->
        <link rel="shortcut icon" href="" type="image/x-icon"> 
    </head>
    <body>
        <!-- Encabezado del documento -->
        <header>
            <!-- Barra de Navegación -->
            <div class="navbar-fixed">
                <nav class="nav-primario">
                    <div class="nav-wrapper">
                        <a href="" class=" brand-logo left">
                            <img src="../../resources/img/commerce/Logo.png" width="220" height="60" alt="" class="">
                        </a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <div class= "container">
                            <ul class="left hide-on-med-and-down">
                                <li><a href="" class="menu-text">Inicio</a></li>
                                <li><a href="" class="menu-text">Sucursales</a></li>
                                <li><a href="menu.html" class="menu-text">Menú</a></li>
                                <li><a href="" class="menu-text">Promociones</a></li>
                            </ul>
                        </div>
                    </div> 
                </nav>
            </div>
            <!-- Final de la Barra de Navegación -->
            <!--  Barra de Navegación Secundario -->
            <nav class="nav-secundario hide-on-med-and-down">
                <div class="nav-wrapper">
                    <ul>
                        <li><a href="" class="texto-nav-secundario"><i class="material-icons">group</i>Regístrate como cliente</a></li>
                        <li><a href="" class="texto-nav-secundario"><i class="material-icons">domain</i>Buscar sucursal más cercana</a></li>
                        <li><a href="" class="texto-nav-secundario"><i class="material-icons">message</i>Contáctanos</a></li>
                    </ul>
                </div>
              </nav>
              <!-- Final de la Barra de Navegación secundaria-->
        </header>
        <main>
            <!-- Sección del Slider -->
            <section>
                <div class="slider">
                    <!-- Diapositivas -->
                    <ul class="slides">
                        <li>
                            <img class="" src="../../resources/img/commerce/portada1.jpg"> 
                        </li>
                        <li>
                            <img class="" src="../../resources/img/commerce/portada2.jpg"> 
                        </li>
                    </ul>
                </div>
            </section>
            <!-- Finalización Sección del Slider -->
            <!--  Sección de buscar sucursal -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col s12 m4">
                            <h3>Buscar Sucursales</h3>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Buscar" id="first_name" type="text" class="validate">
                                            <label for="first_name">Buscar por dirección</label>
                                            <i class="material-icons prefix">search</i>
                                        </div>
                                    </div>
                                    <h3>Filtrar</h3>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <select>
                                                <option value="" disabled selected>Seleccionar departamento</option>
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                            <label>Departamento</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <select>
                                                <option value="" disabled selected>Seleccionar ciudad</option>
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                            <label>Ciudad</label>
                                            
                                        </div>
                                        
                                    </div>
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                        <i class="material-icons right">send</i>
                                      </button>
                                </form>
                            </div>
                            
                        </div>
                        <div class="col s12 m8">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d62019.927480745595!2d-89.25900612089845!3d13.703577599999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2ssv!4v1587487330981!5m2!1ses-419!2ssv" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mapa"></iframe> 
                        </div>
                    </div>
                </div>
            </section>
            <!-- Final de la sección buscar sucursal-->

            <!-- Inicio de la sección nuestro secreto-->
            <section>
                <div class="fondo-rojo">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m6">
                                <h3 class="white-text">Nuestro secreto</h3>
                                <p class="white-text">Estamos comprometidos a crear grandes experiencias con nuestros clientes, en un 
                                    ambiente agradable, con el mejor servicio y calidad.</p>
                            </div>
                            <div class="col s12 m6">
                                <video class="responsive-video" controls>
                                    <source src="../../resources/img/commerce/video.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Final de la sección nuestro secreto-->

            <!-- Inicio de la sección nestros proyectos-->
            <section>
                <h3 class="centrar-texto">Nuestros proyectos</h3>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../../resources/img/commerce/coffeecard.jpg">
                                    <div class="valign-wrapper fondo-negro">
                                        <span class="card-title centrar-texto">The Coffee Cup Card</span>
                                    </div>
                                </div>
                            </div>             
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../../resources/img/commerce/alianzas.jpg">
                                    <div class="valign-wrapper fondo-negro">
                                        <span class="card-title centrar-texto">Alianzas</span>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../../resources/img/commerce/responsabilidad.jpg">
                                    <div class="valign-wrapper fondo-negro">
                                        <span class="card-title centrar-texto">RSE</span>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../../resources/img/commerce/curiosidades.jpg">
                                    <div class="valign-wrapper fondo-negro">
                                        <span class="card-title centrar-texto">Curiosidades del café</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            
            
        </main>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4">
                        <h5 class="white-text centrar-texto">Dirección principal</h5>
                        <i class="material-icons small">directions_car</i>
                        <p>Km 13 1/2, Autopista <br> Comalapa, San Marcos</p>
                    </div>
                    <div class="col s12 m4">
                        <h5 class="white-text centrar-texto">Contáctanos</h5>
                        <p><i class="material-icons">telephone</i>+503 2507-1300</p>
                        <p><i class="material-icons">email</i>info@qualitygrains.com.sv</p>
                    </div>
                    <div class="col s12 m4">
                        <h5 class="white-text centrar-texto">Redes Sociales</h5>
                        <p>The Coffee Cup</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2020 Derechos reservados por The Coffee Cup
                <a class="grey-text text-lighten-4 right" href="#!">Términos y condiciones</a>
                </div>
            </div>
        </footer>
            <!-- Importación de archivos JavaScript al final del documento para una carga optimizada -->
            <script src="../../resources/js/materialize.js" type="text/javascript"></script>
            <script src="../../resources/js/swiper.js" type="text/javascript" ></script> 
            <script src="../../resources/js/commerce.js" type="text/javascript"></script>
            </body>
        </html>